.invoice-row {
  display: grid;
  grid-template-columns: repeat(6, 16%);
}
.sizePlus1 {
  font-size: 1.1rem;
}
.bold-text {
  font-weight: 700;
}
.item-rundown-top {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.item-total {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
