.invoice-header {
  display: grid;
  grid-template-columns: 30% 65%;
}
.invoice-status,
.action-buttons {
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  justify-content: center;
  text-align: center;
}
.action-buttons {
  grid-template-columns: auto auto auto;
}
.invoiceBody {
  margin-top: 3rem;
}
.grid4outof4 {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  padding: 1rem;
}

.big-text {
  font-size: 1.33rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.light-text {
  font-weight: 400;
}
.span2 {
  grid-column: 3 / span2;
}
.row2 {
  margin-top: 1rem;
}
.invoiceBody {
  min-width: 50vw;
  max-width: 55vw;
  margin: auto;
  margin-top: 2rem;
}

.item-rundown {
  grid-template-columns: 36% 18% 18% 18%;
}
.rundown {
  padding: 1rem;
}
.item-total {
  display: grid;
  grid-template-columns: auto auto;
}
.item-total div {
  padding: 1rem;
}
.reallyBig {
  font-size: 1.8rem;
  text-align: center;
}
.header-invoice {
  min-width: 50vw;
  max-width: 55vw;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
