.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: grid;
  border-radius: 4px;
}

.form-control label {
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.form-control input,
.form-control textarea {
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.15rem 0.25rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  border-color: #510077;
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
}
