.modal {
  z-index: 100;
  position: absolute;
  left: 80px;
  width: 80vw;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  margin: 0;
  top: 0 !important;
  height: 100vh;
  overflow: auto;
}

.modal__header {
  width: 100%;
  background: #2a006e;
  color: white;
  padding: 1rem 0.5rem;
}

.modal__header h2 {
  margin: 0.5rem;
}

.modal__content {
  padding: 1rem 0.5rem;
}

.modal__footer {
  padding: 1rem 0.5rem;
}

@media (min-width: 768px) {
  .modal {
    top: 80px;
    width: 40rem;
  }
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
.grid-3columns {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 1rem;
  padding-bottom: 0;
}
.grid-1outof3 div input {
  max-width: 9rem;
}
.grid-1outof2 div input {
  max-width: 12rem;
}
.grid-2columns {
  display: grid;
  grid-template-columns: 46% 46%;
  padding: 1rem;
}
.grid-full {
  grid-column: 1 / span3;
}
.grid-full div input {
  width: 90%;
}
.grid-full div input,
.grid-1outof3 div input,
.grid-1outof2 div input,
.project-desription {
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.grid-full div,
.grid-1outof3 div {
  padding: 0;
  margin: 0;
}
.select,
.date {
  margin: 0;
  padding: 0;
  top: 0;
}
.hold-date-select {
  position: relative;
}
.select {
  padding-top: 2rem;
}
